@model leaveSystem.Models.DTO.Leave

@{
    ViewData["Title"] = "Details";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response</title>

    <style>

        form {
            border: 3px solid #f1f1f1;
            width: 60%;
            margin: auto;
            margin-top: 0%;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #aa048b;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        .container {
            padding: 16px;
        }

        .msg {
            padding: 0px;
        }

        .hidden-div {
            display: none;
        }

        .err {
            color: red;
        }
    </style>

</head>

<body>
    <div class="text-center">
        <h1 class="display-4">EMPLOYEE LEAVE APPLICATION STATUS </h1>

    </div>

    <div>

        <hr />
        <dl class="container">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.First_Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.First_Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Last_Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Last_Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Leave_Reason)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Leave_Reason)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Start_Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Start_Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.End_Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.End_Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.status)
            </dd>

        </dl>
    </div>
    <div>

        <a asp-action="Display">Back to DashBoard</a>
    </div>
</body>
</html>
